.home {
    background-color: #051622;
    color: #157D7A;
    text-align: center;
    /* min-height: 100vh; */
    overflow: hidden;
}

.button {
    background-color: #1BA098;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

hr {
    border-color: #DEB992;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin: 0.5em 5em;
}